    <div class="ui  vertical footer segment">
      <div class="ui center aligned container">
      
          <div>
            <h4 class="ui header">Network</h4>
            <div class="ui link list">
              <a class="item wide floated column" href="https://github.com/ezeepro"><i class="github black icon"></i>GitHub Repo</a>
              <a class="item wide right floated column" href="https://www.linkedin.com/in/ezekiel-olugbami/"><i class="linkedin blue icon"></i>Linkedin</a>
              <a class="item wide right floated column" href=""><i class="twitter blue icon"></i></i>Twitter</a>
            </div>
          </div>
          
        <div class="ui section divider"></div>
        <div class="ui horizontal small divided link list">
          <a class="item" href="" target="_blank">2019 Free & Open Source</a>
        </div>
      </div>
    </div>    
  </body>
</html>